     <% if(user){%>
    <h2 class="page-header">Profile</h2>
    <p>Hi <strong><%=user.local.username%></strong></strong> you are logged in with :</p>
     <ul>
       <%if(user.facebook.id){%>
          <li><h3>Facebook acount !</h3></li>
         <%}%>
         <%if(user.local.username){%>
           <li><h3>local acount !</h3></li>
           <%}%>
     </ul>

    <%}else{%>
        <div class="alert alert-danger"><h3>you need to register or to login to your account</h3></div>
      <%}%>
