     <% if (user){%>
    <h2 class="page-header">Profile</h2>
    <p>Hi <strong><%=user.username%></strong> you are logged in!</p>
  <%}else{%>
        <div class="alert alert-danger"><h3>you need to register or to login to your account</h3></div>
      <%}%>
