<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link class="" rel="stylesheet" href="/style/css/bootstrap.css"/>
    <link rel="stylesheet" href="/style/css/style.css"/>
    <title>login app</title>
  </head>
  <body>

<!DOCTYPE html>
<html>
<head>
	<title>LoginApp</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
	<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
              <li role="presentation"><a href="/layout/index" >Dashboard</a></li>
              <li role="presentation"><a href="/layout/logout">Logout</a></li>
              <li role="presentation"><a href="/layout/login" >Login</a></li>
              <li role="presentation"><a href="/layout/register">Register</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">LoginApp</h3>
      </div>
      </div>
   <%- include(data.layout) %>
   <footer class="footer">
     <p>&copy; 2016 LoginApp using nodejs, Inc.</p>
   </footer>
  </body>
  </html>
