<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link class="" rel="stylesheet" href="/style/css/bootstrap.css"/>
    <link rel="stylesheet" href="/style/css/style.css"/>
    <title>login app</title>
  </head>
  <body>

<!DOCTYPE html>
<html>
<head>
	<title>LoginApp</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
	<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
              <% if(user){%>
              <li role="presentation"><a href="/user/logout">Logout</a></li>


              <%if(user.facebook.name && !user.local.username){%> 
                <li role="presentation"><a href="/layout/register">local connect</a></li>
                    <%}%>
              <%if(!user.facebook.name && user.local.username){%>
              <li role="presentation"><a href="user/connect/facebook">add your facebook account</a></li>
              <%}%>


              <%}else{%>
              <li role="presentation"><a href="/layout/login" >Login</a></li>
              <li role="presentation"><a href="/auth/facebook" >facebook login</a></li>
              <li role="presentation"><a href="/layout/register">Register</a></li>
            <%}%>
          </ul>
        </nav>
        <h3 class="text-muted">LoginApp</h3>
      </div>
      </div>
   <%- include(data.layout) %>
   <footer class="footer">
     <p>&copy; 2016 LoginApp using nodejs, Inc.</p>
   </footer>
  </body>
  </html>
